# Dependencies
node_modules/
Client/node_modules/
Server/node_modules/

# Environment variables
.env

# Logs
*.log

# Runtime uploads
Server/uploads/

# Build files
dist/
build/

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/git add
